<!-- KaTeX CSS -->
<link rel="stylesheet" href="/css/katex@0.16.9.min.css">

<!-- KaTeX JS -->
<script defer src="/js/katex@0.16.9.min.js"></script>

<!-- KaTeX auto-render extension -->
<script defer src="/js/katex@0.16.9-auto-render.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      // A list of delimiters to look for.
      delimiters: [
        {left: '$$', right: '$$', display: true},
        {left: '\\[', right: '\\]', display: true},
        {left: '\\(', right: '\\)', display: false},
        {left: '$', right: '$', display: false}
      ],
      // Custom behavior for errors
      throwOnError: false
    });
  });
</script>
